name: Staging Workflow
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches-ignore:
      - main
      - master
jobs:
  build-and-deploy:
    name: Deploy to staging
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      ENVIRONMENT: staging
    secrets: inherit
